body {
  padding-top: 7rem;
}

.img-logo {
  height: 5rem;
}

.text-title {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.text-logo {
  font-size: 2rem;
  text-decoration: none !important;
}

.nav-item {
  margin-left: 2rem;
}
