<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% for css in page.customcss %}
    <link rel="stylesheet" type="text/css" href="{{ css }}"/>
    {% endfor %}

    <meta name="description" content="Dependable Systems Laboratory">
    <title>{% if page.url != '/index.html' %}{{ page.title }} - {% endif %}{{ site.name }}</title>
  </head>

  <body>
    <div class="container">
      <header class="site-header">
          <div class="navbar navbar-light bg-faded">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#">
                      <img src="/images/vigor-logo.svg.png" alt="{{ site.name }}" style="height:50px;"/>
                      Vigor
                  </a >
              </div>
              <div class="navbar-collapse collapse" id="collapsingNavbar">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <div class="pull-right">
                              <a href="http://nal.epfl.ch">
                                  NAL
                              </a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a href="http://dslab.epfl.ch">
                              <img src="/images/dslab-logo.png" alt="DSLab" style="height:50px; vertical-align: text-bottom;" />
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="https://epfl.ch">
                              <img src="/images/epfl-logo.png"  alt="EPFL" style="height:50px; vertical-align: text-bottom;" />
                          </a>
                      </li>
                  </ul>
              </div>
          </div>

          <!-- <div class="row" >
               <h1 class="col-md-3">
               <a href="/"><img  /></a>
               {{ site.name }}
               </h1>
               <div class="col-md-9">
               <div class="pull-right">
               </div>
               <div class="pull-right">
               <a href="http://dslab.epfl.ch">
               <div class="pull-right">
               <div class="row" >
               <img src="/images/dslab-logo.png" alt="DSLab" style="height:50px; vertical-align: text-bottom;" />
               </div>
               <div class="row" >
               <p>
               DSLAB
               </p>
               </div>
               </div>
               </a>
               </div>
               NAL
               </p>
               </a>
               </div>
               </div>
               </div>
               <hr /> -->
      </header>

      <div class="row">
        <article class="col-md-12 site-content">
          {{ content }}
        </article>
      </div>
    </div>


    <!-- Bootstrap and JQurey scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- page custom scripts -->
    {% for js in page.customjs %}
    <script async type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
    <!-- <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-373800-1', 'dslab.epfl.ch');
         ga('send', 'pageview');
         </script> -->
  </body>
</html>
