<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>{{ site.name }}</title>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md">
      <a class="navbar-brand" href="/">
        <img class="img-logo" src="/images/vigor-logo.png">
        <span class="text-title">{{ site.name }}</span>
      </a>

      <div class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="https://github.com/vignat/vignat">
              <abbr class="text-logo" title="Source code repository">code</abbr>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://vignat.github.io/survey">
              <abbr class="text-logo" title="Networking community survey">survey</abbr>
            </a>
          </li>
          <li class="nav-item">
            <a href="http://dslab.epfl.ch">
              <img class="img-logo" src="/images/dslab-logo.png">
              <abbr class="text-logo" title="Dependable Systems Laboratory">DSLAB</abbr>
            </a>
          </li>
          <li class="nav-item">
            <a href="http://nal.epfl.ch">
              <img class="img-logo" src="">
              <abbr class="text-logo" title="Network Architecture Laboratory">NAL</abbr>
            </a>
          </li>
          <li class="nav-item">
            <a href="http://epfl.ch">
              <img class="img-logo" src="/images/epfl-logo.png"
                   alt="École Polytechnique Fédérale de Lausanne (EPFL)">
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        {{ content }}
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-373800-1', 'dslab.epfl.ch');
      ga('send', 'pageview');
    </script>
  </body>
</html>
