<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include syssemhead.html %}

  <body class="theme-base-08 layout-reverse">

    <header class="masthead">
      <div class="masthead-inner">
        <a href="{{ site.url }}/syssem"> <h1>{{ site.syssemtitle }}</h1> </a>
        <p class="lead">{{ site.syssemdesc }}</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="{{ site.url }}/syssem/archives.html">archive</a>
            </li>
            <li>
              <a href="https://www.google.com/calendar/embed?src=e95a1j4r1469ejeke7b9rj4uhk%40group.calendar.google.com&ctz=Europe/Zurich" target="_top">calendar</a>
            </li>
            <li>
              <a href="mailto:baris.kasikci@epfl.ch" target="_top">contact</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="content container">
      {{content}}
    </div>
</div>

  </body>
</html>
